<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- you can just the grab the cdn and writhe basic logic of vue application -->
  <script src="https://unpkg.com/vue@3.0.2"></script>

  <style>
    .box {
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background: #ddd;
      margin: 20px;
      display: inline-block;
    }
    img {
      width: 100px;
    }
    .appliedClassName {
      background-color: aquamarine;
      width: 100%;
    }
  </style>

  <title>Document</title>
</head>
<body>
  <h1>Hello there I am parimal !</h1>

  <div id="app">

    <!-- Mouse events -->
    <h1>{{title}}</h1>

    <span>These are the mouse movements : {{x}} - {{y}}</span> <br>

    <div class="box" @mouseover="handleEvent($event, 7)">mouse over (enter) </div>
    <div class="box" @mouseleave="handleEvent">mouse leave</div>
    <div class="box" @dblclick="handleEvent">double click</div>
    <div class="box" @mousemove="handleMouseMove"></div>


    <!-- rendering the lists from the app.js -->
    <!-- We need to use now v-for directive -->

    <h1>here is the rendering the lists from backend</h1>
    <div v-if="books">
      <ul>
        <li v-for="book in books">
          <h3>{{ book.title }}</h3>
          <h4>{{ book.author }}</h4>
        </li>
      </ul>
    </div>


    <h1>Attribute binding</h1>
    <!--

      Here, generally we bind the dynamic values to the HTML attributes
      ex.
        <a href="https://www.google.com"></a>

      Here, in the above example, href is an attribute to the anchor tag, and suppose
      if you want to change this value dynamically then,

      # this is not gonna work
      ==============================
        data() {
          url: "https://www.google.com"
        }
        <a href="url"></a>
      ==============================

      In order to change the attribute values dynamically, we have to do the attribute binding.
      hence, we have to use the v-bind directive
      i.e.

      data() {
        url: "https://www.google.com"
      }
      <a v-bind:href="url"></a>

      Also, we can use the following shortcut for the above attribute binding.
      i.e.
        <a :href="url"></a>
        i.e. =>    " v-bind:href ===> :href "  # this is the shortcut
     -->

     <!-- This is good way -->
     <a :href="url">Google</a>
     <br>
     <!-- This is not the good way -->
     <a href="url">Google</a>


     <!-- following is the real time example of the data binding -->
     <br>
     <span>=========================================================================</span>
     <br>
     <span>following is the real time example of the data binding </span> <br>
     <span>=========================================================================</span> <br>
     <div v-if="books">
      <ul>
        <li v-for="book in books">
          <h3>{{ book.title }}</h3>
          <h4>{{ book.author }}</h4>
          <h4> <img :src="book.imglink" :alt="book.title"></h4>
          <!-- This img tag is the real example of the data binding -->
        </li>
      </ul>
     </div>


    <br>
     <span>=========================================================================</span>
     <br>
     <span>similarly we can bind the class attribute of the html element</span> <br>
     <!-- i.e. v-bind:class or :class only -->
     <span>=========================================================================</span> <br>

     <div v-if="books">
      <ul>
        <li v-for="book in books" :class="{ appliedClassName: book.isFav }" @click="toggleFav(book)">
          <h3>{{ book.title }}</h3>
          <h4>{{ book.author }}</h4>
          <h4> <img :src="book.imglink" :alt="book.title"></h4>
          <!-- This img tag is the real example of the data binding -->
        </li>
      </ul>
     </div>


     <span>=========================================================================</span>
     <br>
     <span>Now , we are learnign about the computing properties</span> <br>
     <!--

      a computed properties are a ways to define data property inside our component
      which depends on the other data that we have inside that component

      -->
     <span>=========================================================================</span> <br>

     <div>
      <ul>
        <li v-for="book in filteredBooks" :class="{ appliedClassName: book.isFav }" @click="toggleFav(book)">
          <h3>{{ book.title }}</h3>
          <h4>{{ book.author }}</h4>
          <h4> <img :src="book.imglink" :alt="book.title"></h4>
          <!-- This img tag is the real example of the data binding -->
        </li>
      </ul>
     </div>



  </div>

  <script src="./app.js"></script>
</body>
</html>